.app {
  width: 60%;
  margin-inline: auto;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .app {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .app {
    width: 96%;
  }
}